<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>42background</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {640, 1152}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 1152}}</string>
			<key>sourceSize</key>
			<string>{640, 1152}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>2</key>
		<dict>
			<key>frame</key>
			<string>{{640, 0}, {93, 164}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {93, 164}}</string>
			<key>sourceSize</key>
			<string>{93, 164}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>4</key>
		<dict>
			<key>frame</key>
			<string>{{733, 0}, {84, 170}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 170}}</string>
			<key>sourceSize</key>
			<string>{84, 170}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>e_</key>
		<dict>
			<key>frame</key>
			<string>{{817, 0}, {45, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {45, 90}}</string>
			<key>sourceSize</key>
			<string>{45, 90}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>o_</key>
		<dict>
			<key>frame</key>
			<string>{{862, 0}, {88, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {88, 95}}</string>
			<key>sourceSize</key>
			<string>{88, 95}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>r_</key>
		<dict>
			<key>frame</key>
			<string>{{950, 0}, {59, 91}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {59, 91}}</string>
			<key>sourceSize</key>
			<string>{59, 91}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>t_</key>
		<dict>
			<key>frame</key>
			<string>{{1009, 0}, {68, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {68, 90}}</string>
			<key>sourceSize</key>
			<string>{68, 90}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>w_</key>
		<dict>
			<key>frame</key>
			<string>{{1077, 0}, {98, 89}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 89}}</string>
			<key>sourceSize</key>
			<string>{98, 89}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		</dict>
		<key>metadata</key>
		<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>title.png</string>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict></dict></plist>