<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,80}}</string>
                <key>sourceSize</key>
                <string>{12,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tweet.png</string>
            <key>size</key>
            <string>{16,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:722d1c6e725bfc432b5a2aeca1dfd0bb:74124fd41b594bf999b42c38fc14408b:7af820c4e3a6b682cad1208f4fe62a62$</string>
            <key>textureFileName</key>
            <string>tweet.png</string>
        </dict>
    </dict>
</plist>
