<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mostafabutton</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {258, 103}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 14}, {251, 77}}</string>
			<key>sourceSize</key>
			<string>{258, 103}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>bluebutton</key>
		<dict>
			<key>frame</key>
			<string>{{258, 0}, {250, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {250, 70}}</string>
			<key>sourceSize</key>
			<string>{250, 70}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>hand</key>
		<dict>
			<key>frame</key>
			<string>{{508, 0}, {364, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {364, 640}}</string>
			<key>sourceSize</key>
			<string>{364, 640}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly01</key>
		<dict>
			<key>frame</key>
			<string>{{872, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 11}, {99, 83}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly02</key>
		<dict>
			<key>frame</key>
			<string>{{972, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 4}, {79, 87}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly03</key>
		<dict>
			<key>frame</key>
			<string>{{1072, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {100, 86}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly04</key>
		<dict>
			<key>frame</key>
			<string>{{1172, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 8}, {84, 83}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly05</key>
		<dict>
			<key>frame</key>
			<string>{{1272, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {98, 83}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly06</key>
		<dict>
			<key>frame</key>
			<string>{{1372, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 4}, {88, 87}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly07</key>
		<dict>
			<key>frame</key>
			<string>{{1472, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 90}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly08</key>
		<dict>
			<key>frame</key>
			<string>{{1572, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 4}, {91, 86}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_fly09</key>
		<dict>
			<key>frame</key>
			<string>{{1672, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 17}, {99, 76}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_land01</key>
		<dict>
			<key>frame</key>
			<string>{{1772, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 17}, {99, 76}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_land02</key>
		<dict>
			<key>frame</key>
			<string>{{1872, 0}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 29}, {98, 65}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_land03</key>
		<dict>
			<key>frame</key>
			<string>{{0, 640}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 29}, {98, 66}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_land04</key>
		<dict>
			<key>frame</key>
			<string>{{100, 640}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 30}, {98, 60}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_land05</key>
		<dict>
			<key>frame</key>
			<string>{{200, 640}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 31}, {97, 63}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_land06</key>
		<dict>
			<key>frame</key>
			<string>{{300, 640}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 31}, {98, 63}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafa_land07</key>
		<dict>
			<key>frame</key>
			<string>{{400, 640}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 45}, {94, 48}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>mostafabutton</key>
		<dict>
			<key>frame</key>
			<string>{{500, 640}, {258, 103}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 14}, {251, 77}}</string>
			<key>sourceSize</key>
			<string>{258, 103}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>wordcloud</key>
		<dict>
			<key>frame</key>
			<string>{{758, 640}, {600, 375}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {594, 375}}</string>
			<key>sourceSize</key>
			<string>{600, 375}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>go_on_button</key>
		<dict>
			<key>frame</key>
			<string>{{1358, 640}, {162, 110}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 4}, {147, 99}}</string>
			<key>sourceSize</key>
			<string>{162, 110}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		</dict>
		<key>metadata</key>
		<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>murbiks.png</string>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict></dict></plist>