<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{197,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,164}}</string>
                <key>sourceSize</key>
                <string>{197,164}</string>
            </dict>
            <key>circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{281,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,302}}</string>
                <key>sourceSize</key>
                <string>{281,302}</string>
            </dict>
            <key>circle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{278,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,302}}</string>
                <key>sourceSize</key>
                <string>{278,302}</string>
            </dict>
            <key>circle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{290,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,291}}</string>
                <key>sourceSize</key>
                <string>{290,291}</string>
            </dict>
            <key>circle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,292}}</string>
                <key>sourceSize</key>
                <string>{315,292}</string>
            </dict>
            <key>circle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,2},{274,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,312}}</string>
                <key>sourceSize</key>
                <string>{274,312}</string>
            </dict>
            <key>circle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{278,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,302}}</string>
                <key>sourceSize</key>
                <string>{278,302}</string>
            </dict>
            <key>circle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,2},{198,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,164}}</string>
                <key>sourceSize</key>
                <string>{198,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>circles.png</string>
            <key>size</key>
            <string>{1865,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d33f118f5297ff544e30159acb93cce9:45a23261c996db61fbbe97f677fdbc0a:df3503ad8c278b4a8e586aa5a9e9cd19$</string>
            <key>textureFileName</key>
            <string>circles.png</string>
        </dict>
    </dict>
</plist>
