
.cell {
	width: 50px;
	height: 50px;
	background-color: lightyellow;
	background-size: 50px 50px;
	background-position: center center;
}

.cell_A {
	background-image: url(letters/a.png);
}

.cell_B {
	background-image: url(letters/b.png);
}

.cell_C {
	background-image: url(letters/c.png);
}

.cell_D {
	background-image: url(letters/d.png);
}

.cell_E {
	background-image: url(letters/e.png);
}

.cell_F {
	background-image: url(letters/f.png);
}

.cell_G {
	background-image: url(letters/g.png);
}

.cell_H {
	background-image: url(letters/h.png);
}

.cell_I {
	background-image: url(letters/i.png);
}

.cell_J {
	background-image: url(letters/j.png);
}

.cell_K {
	background-image: url(letters/k.png);
}

.cell_L {
	background-image: url(letters/l.png);
}

.cell_M {
	background-image: url(letters/m.png);
}

.cell_N {
	background-image: url(letters/n.png);
}

.cell_O {
	background-image: url(letters/o.png);
}

.cell_P {
	background-image: url(letters/p.png);
}

.cell_Q {
	background-image: url(letters/q.png);
}

.cell_R {
	background-image: url(letters/r.png);
}

.cell_S {
	background-image: url(letters/s.png);
}

.cell_T {
	background-image: url(letters/t.png);
}

.cell_U {
	background-image: url(letters/u.png);
}

.cell_V {
	background-image: url(letters/v.png);
}

.cell_W {
	background-image: url(letters/w.png);
}

.cell_X {
	background-image: url(letters/x.png);
}

.cell_Y {
	background-image: url(letters/y.png);
}

.cell_Z {
	background-image: url(letters/z.png);
}

.cell_Ä {
	background-image: url(letters/ae.png);
}

.cell_Ö {
	background-image: url(letters/oe.png);
}

.cell_Ü {
	background-image: url(letters/ue.png);
}

.cell_ {
	background-color: lightblue;
}
